<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <address>
          <strong style="color:#e3e7e9">CONTACT:</strong><br>
          <a href="mailto:info@wwuracing.com" style="color:#63c2ff">info@wwuracing.com</a>
        </address>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-5">
          <a href="https://www.facebook.com/WWURacing/" target="_blank"><i class="fa fa-fw fa-facebook-square" style="font-size:40px;color:#e3e7e9"></i></a>
          <a href="https://www.instagram.com/wwuracing/" target="_blank"><i class="fa fa-fw fa-instagram" style="font-size:40px;color:#e3e7e9"></i></a>
          <a href="https://twitter.com/wwuracing" target="_blank"><i class="fa fa-fw fa-twitter" style="font-size:40px;color:#e3e7e9"></i></a>
          <!-- <a href="https://wwu.edu" target="_blank"><img src="images/WWU_Logo.png" alt="WWU Logo" style="width:100px;color:#e3e7e9"></a> -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <address>
         <!--<strong>Meetings:</strong><br>
         Mondays 6:30 PM<br>
         Arntzen 100 -->
        </address>
      </div>
    </div>
  </div>
</footer>
