<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <address>
          <strong>Contact:</strong><br>
          <a href="mailto:info@wwuracing.com">info@wwuracing.com</a>
        </address>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
          <a href="https://www.facebook.com/WWURacing/" target="_blank"><i class="fa fa-fw fa-facebook-square" style="font-size:40px;"></i></a>
          <a href="https://www.instagram.com/wwuracing/" target="_blank"><i class="fa fa-fw fa-instagram" style="font-size:40px"></i></a>
          <a href="https://twitter.com/wwuracing" target="_blank"><i class="fa fa-fw fa-twitter" style="font-size:40px"></i></a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <address>
         <!--<strong>Meetings:</strong><br>
         Mondays 6:30 PM<br>
         Arntzen 100 -->
        </address>
      </div>
    </div>
  </div>
</footer>
